body,
html,
div.board,
div#main {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    background: #eab92d;
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}

/***************
ScoreButtons*/
.person {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    align-items: center;
    /*font-size: 1.5em;*/
    height: 100px;
    width: 870px;
    background-color: #848484;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    margin-bottom: 3px;
}
.score-buttons {
    height: 70px;
    width: 70px;
    order: 1;
    font-size: 28px; !important;
    padding-left: 10px;
    margin-left: 10px;
}
/***************
End ScoreButtons*/

.sheep-div {
    display: -webkit-flex;
    flex-direction: row;
}

.sub-sheep {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background-color: #848484;
    overflow: hidden;
    height: 235px;
    width: 180px;
    border-spacing: 1px 5px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.sheep-element {
    font-size: 28px; !important;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    width: 160px;
}

/*input[type=button] {
    vertical-align: middle;
    display: block;
    width: 50%;
    margin: 0 auto;
}*/
div.misc-div {
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

.standardTextBox {
    width: 180px;
}

.misc-buttons {
    font-size: 28px;
    margin-right: 3px;
    height: 50px; !important;
    width: 50px; !important;
}

.sheep-icon {
    background-image: url('../img/sheep.png');
    background-position: center center;
    height: 50px;
    width: 50px;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}